html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    min-height: 180px;
    width: 384px;
}

a:link, a:visited {
    color: #000;
    outline: 0;
    text-decoration: none;
}

li {
    margin-bottom: 3%;    
}

.container {
    text-align: center;
    margin: 0 auto;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);
}

.modal-content {
    background-color: #f4f4f4;
}